<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://luki91.vot.pl:3306/luki91_java2?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">luki91_java</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="com/java/java_zaliczenie/Shelf.hbm.xml"/>
    <mapping resource="com/java/java_zaliczenie/Drama.hbm.xml"/>
    <mapping resource="com/java/java_zaliczenie/Sf.hbm.xml"/>
    <mapping resource="com/java/java_zaliczenie/Book.hbm.xml"/>
    <mapping resource="com/java/java_zaliczenie/Stand.hbm.xml"/>
    <mapping resource="com/java/java_zaliczenie/Category.hbm.xml"/>
    <mapping resource="com/java/java_zaliczenie/Adventure.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
